html{
	/*background-color: black;*/
	color: white;
}

h1{
	display: inline-block;
	max-width: 800px;
}

body{
	background-color: black;
}

.project-page-link{
	color: #3793e6;
}

.sidebar{
	float: left;
	width: 20%;
	height: 800px;
	border-right: thin solid white;
}

.center{
	text-align: center;
}

.my-image{
	display: block;
	margin: auto;
}

.icons{
	padding: 5px;
	text-align: center;
}

a{
	text-decoration: none;
}

.twitter-feed-wrapper{
	width: 235px;
	float: right;
}

.description{
	display: inline-block;
	max-width: 500px;
}

.main-content{
	width: 75%;
	float: right;
}

.non-sense-button{
	background-color: black;
	color: black;
	border: none;
	font-size: 35px;
	outline: none;
	border-radius: 20px;
}

.non-sense-button:hover{
	background-color: white;
	cursor: pointer;
}