html{
	background-color: black;
	color: white;
}

h1{
	display: inline-block;
	padding-left:30px;
}

.sidebar{
	float: left;
	width: 20%;
	height: 800px;
	border-right: thin solid white;
}

.name{
	text-align: center;
}

.my-image{
	display: block;
	margin: auto;
}

.icons{
	padding: 5px;
	text-align: center;
}